a {
    text-decoration: none; 
}
body {
    padding: 0;
    margin: 0;
    // transition: all 0.5s ease;
    // background-color: var(--el-bg-color);
    // color: var(--color-text);
    // background-color: var(--color-body);
}
div {
    // transition: all 1s ease;
}
.appContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    //background-color: black;
    overflow: hidden;
    position: relative;
    @media(max-width: 1000px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}