a {
    text-decoration: none; 
}
body {
    padding: 0;
    margin: 0;
    transition: background-color .25s, color .25s;
    color: var(--color-text);
    background-color: var(--color-body);
}
div { 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.appContainer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}