.el-scrollbar{
    width: 100%;
}
.el-select-dropdown__wrap{
    width: 100%;
}
.el-input--large .el-input__wrapper {
    background-color: rgb(255 255 255 / 60%);
    padding: 1px 15px;
}
.el-carousel__container {
    width: 100%;
}