$--el-switch-on-color: #ffb444;



.el-scrollbar{
    width: 100%;
}
.el-select-dropdown__wrap{
    width: 100%;
}
.el-input--large .el-input__wrapper {
    // background-color: rgb(255 255 255 / 60%);
    padding: 1px 15px;
}
.el-carousel__container {
    width: 100%;
}
.el-select {
    width: 100%;
}
.el-select-dropdown__list {
    width: 100%; 
}
// .el-switch.is-checked .el-switch__core {
//     background-color: orange;
// }

.el-collapse {
    flex-direction: column;
}
.el-collapse-item {
    width: 100%;
}
.el-collapse-item__header {
    //background-color: #e1e1e185;
    opacity: 0.6;
    padding-left: 2%; 
}
.el-collapse-item__content {
    opacity: 0.9;
}
.el-collapse-item__wrap {
    // background-color: transparent;
     
}
.el-space--vertical {
    width: 100%;
}
.el-slider__input {
    width: 100px;
}
.el-scrollbar__thumb {
//可设置滚动条颜色
    background: transparent;//这里我设置成了透明色,可以根据需求添加自己想要的颜色
}