.inoutput .var-skeleton__card {
    min-height: 60%;
    border-radius: 20px;
    padding-top: 10%;
}

.inoutput .var-skeleton__section {
    width: 100%;
    padding-top: 8px;
    flex: 1;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.inoutput .var--box .var-skeleton {
    height: 70vh;
}

.inoutput .var-skeleton__article {
    // display: flex;
    flex: 1;
}

.inoutput .var-skeleton__content{
    height: 90vh;
    padding: 5%;
}

// .var-field-decorator{
//     display: block;
// } 